body {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#container {
	width: 960px;
	margin: 0 auto;	
	padding: 0;
}

img {
	border: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	
}

a:hover {
	text-decoration: underline;
	
}

li {
	list-style: none;
	list-style-type: none;
}

h1 {
	font-size: 16px;
	background-image: url(../images/seta-perfil.png); 
	background-repeat: no-repeat;
	background-position:left;
}


h2	{
	color: #8c8c8c;
	font-size: 14px;
}

p	{
	color: #666;
	font-size: 13px;
	line-height: 20px;
}


#header_left {
	margin: 0 auto;
	background: url(../images/fundo_left_cabecalho.png) left top no-repeat;
	max-width: 2880px;
}

#header_right {
	background: url(../images/fundo_right_cabecalho_logado.png) right top no-repeat;
	max-width: 2880px;
}

#header {
	padding: 0;
	margin: 0 auto;
	border: 0;
	width: 960px;
}

#header a {
	color: #FFF;	
}

#barra_governo {
	padding:0;
	margin:0;
	width: 960px;
	height: 25px;
	border:0;
	float:left;
}

#miolo{
	padding:0;
	margin:0;
	width: 960px;
	height: 130px;
	float:left;
	background-color: #70bdd7;
}

#menu_logo{
	float:left;
	width: 648px;
	height: 130px;
	}
	
#menu_acessorio {
	height: 33px;
	width: 648px;
	float: left;
	padding: 0px 0px 0px 0px;
	background-image:url(../images/degrade-acessorios.gif);
}

	#menu_acessorio ul {
		display: inline;
		font-size: 12px;
		margin: 0;
		margin-top: 2px;
		float: right;	
	}
	
	#menu_acessorio ul li {
		list-style: none;
		display: inline;
		color: #fff;		
	}
	
	#menu_acessorio ul li a {
		padding: 2px 5px;		
	}

#logo {
	float: left;
	padding: 0px 0px 4px 15px;
	width: 648px;
	height: 90px;
}

#curva{
	width:100px;
	float: left;
	height: 130px;
	background-image: url(../images/curva_logado.jpg);	
}

#linha_azul {
	padding: 0px;
	float: left;
	width: 648px;
	height: 3px;
	background-color: #265d71;	
}

#perfil {
	float: left;
	margin: 0;
	padding: 0px 0px 2px 0px;
	width: 212px;
	height: 130px;
	background-color: #275e72;
	color: #CCC;
	font-size: 12px;	
}

#titulo-perfil {
	float: left;
	padding: 0px;
	margin-left: 10px;
	margin-top: 2px;
	width: 197px;	
	line-height: 150%;
}

#links-perfil-logado {
	float: left;
	padding: 0px;
	margin-left: 15px;
	font-size: 11px;
}

	#links-perfil-logado ul {
		float: left;
		padding: 0px;
		margin: 20px 0px 0px 0px;
	}
	
		#links-perfil-logado ul li {
			float: left;
			margin-right: 12px;
			padding: 0px;
		}
		
		#links-perfil-logado ul li a {
		margin: 0px 5px 10px 0px;
	}	
	
	#links-perfil-logado img {
		margin: 1px 5px -10px 0px;
		display: inline;
	}

#links-perfil {
	float: left;
	padding: 0px;
	margin-left: 52px;
	font-size: 9.5px;	
}

fieldset {
	border: none;
	padding: 0px;
	margin-bottom: 2px;
	margin-left: 10px;
	width: 190px;	
}

/*BEGIN Formulário */



	.FormRow {
		display: inline;		
		float: left;
		width: 197px;
		margin: 0px;
		padding: 0px;
	}
	
	.FormRow .bt {
		padding: 2px 0px 0px 1px;
		margin-left: 2px;
		margin-top: 2px;
		
	}
	
	.FormField {
		display: inline;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 165px;
		height: 20px;
		border: 2px solid #FF9;
		border-radius: 0.3em;
		
	}
	
	.FormLabel_text {
		margin-left: 135px;
		color: #CCC;
		
	}
	

	/*END Formulário */
	

#menu {
	width: 686px;
	height: 42px;
	float: left;
	padding: 0;
	margin: 0;
	 /* IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#388da9, endColorstr=#255e71)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#388da9, endColorstr=#255e71);
    /* Mozilla */
    background: -moz-linear-gradient(top, #388da9, #255e71) repeat-X;
    /* Safari, Google Chrome */
    background: -webkit-gradient(linear, left top, left bottom, from(#388da9), to(#255e71)) repeat-X;
	
}	

	#menu ul {
		float: left;
		padding: 10px 0px 0px 1px;
		margin: 0;
	}
	
		#menu ul li {
			float: left;
			margin-left:12px;
			display: inline;
			text-align: left;
			color: #fff;
			font-size: 16px;
		}
		
			#menu ul li a {
				color: #FFF;
				padding: 10px;
				font-size: 16px;			
			}
			
			#menu ul li a:hover {
				background-color: #1a3e4c;				
			}
			
				#menu ul li a img {
					border: none;
					margin-top: -9px;
					margin-right: 5px;
					background-image: none;
				}

#bt-semlogar {
	float: left;
	width: 274px;
	height: 42px;
	background: url(../images/bt-menu-submissao-logado.jpg) left top no-repeat;
	
}


#busca_global {
	margin: 0 auto;
	padding: 1.5em 0 0 0;	
	max-width: 2880px;
}

	#busca {
		margin: 0 auto;
		width: 960px;
		height: 73px;
	}
	
	#busca input.text, #busca input[type=text] {padding-left:7px;}
	
		#buscar_field {
			float:left;
			margin: 0 0 0 40px;
			padding: 0px 0px 0px 0px;
			width: 850px;
			height: 30px;
			border: 1px solid #265d71;
			border-radius: 0.5em;
			
		}
		
		
		#busca .bt {
			float: left;
			padding: 0px;
			margin:0px;
		}
	
#content_global {
	margin: 0 auto;
	max-width: 2880px;	
	 /* IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#327387)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#327387);
    /* Mozilla */
    background: -moz-linear-gradient(top, #ffffff, #327387) repeat-X;
    /* Safari, Google Chrome */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#327387)) repeat-X;

}

#content {
	padding: 0px;
	margin: 0 auto;
	width: 960px;
	background-color: #FFF;
	border-radius: 1em;
}

#content a {
	color: #2e5c6a;
	
}
	
#destaques {
	width: 460px;
	float: left;
	display: inline;
	padding: 0px;
	margin: 0px 5px 10px 15px;
	
}

#texto {
	float: left;
	width: 460px;
	height:: 251px;
	display: inline;
	padding: 0px;
	margin: 0px 15px 10px 5px;
	
}

#ajuda {
	clear:both;
	float: left;
	width: 460px;
	height: 380px;
	padding: 0px;
	margin: 5px 5px 10px 15px;
		
}

#ensaios {
	width: 460px;
	height: 380px;
	float: left;
	padding: 0px;
	margin: 5px 15px 10px 5px;
	
}

	#ensaios ul {
		float: left;
		padding: 0px;
		margin: 0px;
	}

	#ensaios ul li{
		border-bottom: 1px solid #ccc;
		padding: 0px;
		margin-left: 10px;
		display:list-item;
	}

#menu_extensao {
	width: 960px;
	height: 82px;
	float: left;
	padding: 0px 15px 0px 0px;
	margin: 0px 20px 5px 20px;
	
}

	#menu_extensao ul {
		float: left;
		width: 960px;
		height: 82px;
		padding: 0px;
		margin: 0px;
	}
	
		#menu_extensao ul li {
			float: left;
			margin-right: 50px;
			height: 82px;
			padding: 0px;
			color: #517981; 
			font-size: 16px;
			font-weight:bold;	
		}
	
	#menu_extensao img {
		margin: 10px 10px -15px 0px;
		display: inline;
	}

#footer {
	margin: 0 auto;
	padding: 0px 0px 0px 10px;
	width: 960px;
	height: 300px;
	background-image: url(../images/teste.png);
	background-position: center top;
	background-repeat: no-repeat;
}

#logo-footer {
	float: left;
	padding: 30px 0 0 0;
	margin: 0px;
	width: 960px;
	
}

#menu_footer {
	float: left;
	margin-top: 10px;
	padding: 0px;
	width: 530px;	
}

	#menu_footer ul {
		padding: 0;
		margin: 0;
		width: 300px;
		list-style: none;
		float: left;
	}
	
		#menu_footer ul li {
			text-align: left;
			width: 300px;
			padding: 2px;
			color: #fff;
			font-size: 13px;
			float: left;
		
		}
		
			#menu_footer ul li a {
				padding: 2px 10px;
				float: left;
				background-image: url(../images/seta-perfil.png); 
				background-repeat: no-repeat;
				background-position:left center;
			}

#imgfinal {
	float: left;
	width: 50px;
	padding: 0px;
}

#marcas {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 380px;
}

	#marcas ul {
		padding: 0px;
		margin: 0px;
		width: 420px;
		float: left;
		display: inline;
	}
	
	#marcas ul li {
		padding: 0px 10px 15px 0px;
		width: 160px;
		height:62px;
		margin: 0px;
		float: right;
	}

.reset {
	clear: both;	
}