body {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#container {
	width: 960px;
	margin: 0 auto;	
	padding: 0;
}

img {
	border: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	
}

a:hover {
	text-decoration: underline;
	
}

li {
	list-style: none;
	list-style-type: none;
}

h1 {
	font-size: 16px;
	background-image: url(../images/seta-perfil.png); 
	background-repeat: no-repeat;
	background-position:left;
}


h2	{
	padding: 0px;
	margin: 0px;
	color: #8c8c8c;
	font-size: 14px;
}

/**h3	{
	color: #1f6883;
	font-size: 38px;
} **/

h4	{
	font-size: 11px;
	color: #999;
	
}

p	{
	margin: 0px;
	padding: 0px;
	color: #666;
	font-size: 13px;
	line-height: 20px;
}


#header_left {
	margin: 0 auto;
	background: url(../images/fundo_left_cabecalho.png) left top no-repeat;
	max-width: 2880px;
}

#header_right {
	background: url(../images/fundo_right_cabecalho.png) right top no-repeat;
	max-width: 2880px;
}

#header {
	padding: 0;
	margin: 0 auto;
	border: 0;
	width: 960px;
}

#header a {
	color: #FFF;	
}

#barra_governo {
	padding:0;
	margin:0;
	width: 960px;
	height: 25px;
	border:0;
	float:left;
}

#miolo{
	padding:0;
	margin:0;
	width: 960px;
	height: 130px;
	float:left;
	background-color: #70bdd7;
}

#menu_logo{
	float:left;
	width: 648px;
	height: 130px;
	}
	
#menu_acessorio {
	height: 33px;
	width: 648px;
	float: left;
	padding: 0px 0px 0px 0px;
	background-image:url(../images/degrade-acessorios.gif);
}

	#menu_acessorio ul {
		display: inline;
		font-size: 12px;
		margin: 0;
		margin-top: 2px;
		float: right;	
	}
	
	#menu_acessorio ul li {
		list-style: none;
		display: inline;
		color: #fff;		
	}
	
	#menu_acessorio ul li a {
		padding: 2px 5px;		
	}

#logo {
	float: left;
	padding: 0px 0px 4px 15px;
	width: 648px;
	height: 90px;
}

#curva{
	width:100px;
	float: left;
	height: 130px;
	background-image: url(../images/curva.jpg);	
}

#linha_azul {
	padding: 0px;
	float: left;
	width: 648px;
	height: 3px;
	background-color: #265d71;	
}

#perfil {
	float: left;
	margin: 0;
	padding: 0px;
	width: 212px;
	height: 130px;
	background-color: #275e72;
	color: #CCC;
	font-size: 12px;	
}

#titulo-perfil {
	float: left;
	padding: 0px;
	margin-left: 10px;
	margin-top: 2px;
	width: 100px;	
}

#links-perfil {
	float: left;
	padding: 0px;
	margin: 0px 0px 2px 35px;
	font-size: 9.5px;	
	text-align: right;
}

fieldset {
	border: none;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	width: 190px;
	height: 78px;	
}

/*BEGIN Formulário */



	.FormRow {
		display: inline;		
		float: left;
		width: 197px;
		height: 18px;
		margin: 0px;
		padding: 0px;
	}
	
	.FormRow .bt {
		padding: 2px 0px 0px 1px;
		margin-left: 2px;
		margin-top: 2px;
		
	}
	
	.FormField {
		display: inline;
		float: left;
		padding: 0px;
		margin: 0px;
		width: 165px;
		height: 18px;
		border: 1px solid #FF9;
		border-radius: 0.3em;
		
	}
	
	.FormLabel_text {
		margin-left: 135px;
		color: #CCC;
		font-size:11px;
		
	}
	

	/*END Formulário */
	

#menu {
	width: 686px;
	height: 42px;
	float: left;
	padding: 0;
	margin: 0;
	 /* IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#388da9, endColorstr=#255e71)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#388da9, endColorstr=#255e71);
    /* Mozilla */
    background: -moz-linear-gradient(top, #388da9, #255e71) repeat-X;
    /* Safari, Google Chrome */
    background: -webkit-gradient(linear, left top, left bottom, from(#388da9), to(#255e71)) repeat-X;
	
}	

	#menu ul {
		float: left;
		padding: 10px 0px 0px 1px;
		margin: 0;
	}
	
		#menu ul li {
			float: left;
			margin-left:12px;
			display: inline;
			text-align: left;
			color: #fff;
			font-size: 16px;
		}
		
			#menu ul li a {
				color: #FFF;
				padding: 10px;
				font-size: 16px;			
			}
			
			#menu ul li a:hover {
				background-color: #1a3e4c;
				
			}
			
				#menu ul li a img {
					border: none;
					margin-top: -9px;
					margin-right: 5px;
					background-image: none;
				}

#bt-semlogar {
	float: left;
	width: 274px;
	height: 42px;
	background: url(../images/bt-menu-submissao.jpg) left top no-repeat;
	
}


#busca_global {
	margin: 0 auto;
	padding: 20px 0 0 0;	
	max-width: 2880px;
	max-height: 79px;
}

	#busca {
		margin: 0 auto;
		width: 960px;
	}
	
	#busca input.text, #busca input[type=text] {padding-left:7px;}
	
		#buscar_field {
			float:left;
			margin: 0 0 0 40px;
			padding: 0px 0px 0px 0px;
			width: 850px;
			height: 30px;
			border: 1px solid #265d71;
			border-radius: 0.5em;
			
		}
		
		
		#busca .bt {
			float: left;
			padding: 0px;
			margin:0px;
		}
		

#content_global {
	padding: 0;
	margin: 0 auto;
	max-width: 2880px;	
	 /* IE */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#327387)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#327387);
    /* Mozilla */
    background: -moz-linear-gradient(top, #ffffff, #327387) repeat-X;
    /* Safari, Google Chrome */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#327387)) repeat-X;

}


#content {
	padding: 0px;
	margin: 0 auto;
	width: 960px;
	background-color: #FFF;
	border-radius: 1em;
}

#content a {
	color: #2e5c6a;
	
}

#migalha {
	padding: 0px;
	margin: 0px 0px 0px 10px;
	width: 960px;	
	
}
	#migalha a {
		text-decoration: none;
	}
	
	#migalha a:hover {
	text-decoration: underline;
	
	}
	
#titulopagina	{
	padding: 0px;
	margin: 0px 0px 0px 10px;
	float: left;
	width: 437px;
	height: 60px;
	color: #1f6883;
	font-size: 38px;
	
}

#acessorioslistagem	{
	float: left;
	width: 500px;
	height: 60px;
	
}

	#acessorioslistagem ul	{
		float: left;
		display: inline;
		margin: 0px 15px 5px 0px;

	
	}

	#acessorioslistagem ul li	{
		float: left;
		margin: 20px 5px 0px 5px;
		font-size: 12px;
		color: #999;	
	}
	#acessorioslistagem ul li.first	{
		padding: 6px 0 0 0;	
	}
		#acessorioslistagem ul li a {
			display: block;
			padding: 10px 0 10px 30px;
			background: url(../images/download.jpg) left 3px no-repeat;
		}
	
	#acessorioslistagem img {
		float: left;
		
		display: inline;
	}

#listaregistrados {
	float: left;
	padding:0px;
	margin: 0px 0px 0px 5px;
	width: 700px;
	
}

	#listaregistrados ul {
		float: left;
		padding: 0px;
		margin: 5px;

	
	}


	#listaregistrados ul li {

		padding: 5px 0px 15px 0px;
		margin: 0px 0px 10px 0px;
		border-bottom: 1px solid #ccc;
		line-height: 20px;
		

	}
	
.bloco {
	float:left;
	width: 200px;
	color: #999;
	margin-top: 10px;
	padding-right: 30px;
	
	
}
	
	
#paginacao	{
	text-align: center;
	margin: 20px 0px 15px 0px;
	padding: 10px;
	
}


#colunadestaques	{
	float: left;
	width: 250px;
	margin: 0px;
	
}

#destaque1	{
	margin: 5px;
	float: left;
	width: 230px;
	max-height: 350px;
	
}

#topo1	{
	width: 220px;
	height: 69px;
	float: left;
	padding: 0px;
	background-image: url(../images/box-top.png);
	background-position: top;
	background-repeat:no-repeat;
	
}

#meio	{
	height: auto;
	width: 220px;
	float: left;
	padding: 0px;
	background-image: url(../images/box-middle.png);
	background-position: left top;
	background-repeat: repeat-y;
	
	
}

#meio img	{
	float: right;
	padding: 5px;
}


#final	{
	height: 24px;
	width: 220px;
	float: left;
	background-image: url(../images/box-bottom.png);
	background-position: left top;
	background-repeat: no-repeat;
}


#destaque2	{
	margin: 5px;
	float: left;
	width: 230px;
	max-height: 350px;
	
}

#topo2	{
	width: 220px;
	height: 69px;
	float: left;
	padding: 0px;
	background-image: url(../images/box-top-glossario.png);
	background-position: top;
	background-repeat:no-repeat;
	
}

#meio2	{
	height: auto;
	width: 220px;
	float: left;
	padding: 0px;
	background-image: url(../images/box-middle.png);
	background-position: left top;
	background-repeat: repeat-y;
	
	
}

#meio2 img	{
	float: right;
	padding: 5px;
}

	#meio2 ul	{
		float: left;
		margin: 0px;
		padding: 0px
		
	}

	#meio2 ul li	{
		float: left;
		margin: 0px;
		padding: 0px 0px 10px 0px;
		
	}

#final2	{
	float: left;
	height: 24px;
	width: 220px;
	background-image: url(../images/box-bottom.png);
	background-position: left top;
	background-repeat: no-repeat;
}

#text-lateral	{
	margin: 0px 15px 5px 20px;
	
}


#menu_extensao {
	width: 960px;
	height: 82px;
	float: left;
	padding: 0px 15px 0px 0px;
	margin: 0px 20px 5px 20px;
	
}

	#menu_extensao ul {
		float: left;
		width: 960px;
		height: 82px;
		padding: 0px;
		margin: 0px;
	}
	
		#menu_extensao ul li {
			float: left;
			margin-right: 50px;
			height: 82px;
			padding: 0px;
			color: #517981; 
			font-size: 16px;
			font-weight:bold;	
		}
	
	#menu_extensao img {
		margin: 10px 10px -15px 0px;
		display: inline;
	}

#footer {
	margin: 0 auto;
	padding: 0px 0px 0px 10px;
	width: 960px;
	height: 300px;
	background-image: url(../images/teste.png);
	background-position: center top;
	background-repeat: no-repeat;
}

#logo-footer {
	float: left;
	padding: 30px 0 0 0;
	margin: 0px;
	width: 960px;
	
}

#menu_footer {
	float: left;
	margin-top: 5px;
	padding: 0px;
	width: 470px;	
}

	#menu_footer ul {
		padding: 0;
		margin: 0;
		width: 400px;
		list-style: none;
		float: left;
	}
	
		#menu_footer ul li {
			text-align: left;
			width: 380px;
			padding: 2px;
			color: #fff;
			font-size: 13px;
			float: left;
		
		}
		
			#menu_footer ul li a {
				padding: 2px 10px;
				float: left;
				background-image: url(../images/seta-perfil.png); 
				background-repeat: no-repeat;
				background-position:left center;
			}

#imgfinal {
	float: left;
	width: 50px;
	padding: 0px;
}

#marcas {
	padding: 0px;
	margin: 0px;
	float: right;
	width: 460px;
}

	#marcas ul {
		padding: 0px;
		margin: 0px;
		width: 480px;
		display: inline;
	}
	
	#marcas ul li {
		padding: 10px 20px 10px 0px;
		height: 62px;
		margin: 0px;
		float: left;
	}

.reset {
	clear: both;	
}